@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 0em; /* フォルダ間の上下の間隔を狭く */

  & > .section {
    display: grid;
    grid-template-columns: fit-content(8em) 3fr 1fr;

    @media all and ($mobile) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
      
      & > a {
        background-color: transparent;
      }
    }

    & .meta {
      margin: 0 1em 0 0;
      color: #637983; /* 年月日の表示色を#637983に変更 */
      opacity: 1; /* 不透明度を解除して色をそのまま表示 */
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}
