@use "sass:map";

/**
 * Layout breakpoints
 * $mobile: screen width below this value will use mobile styles
 * $desktop: screen width above this value will use desktop styles
 * Screen width between $mobile and $desktop width will use the tablet layout.
 * assuming mobile < desktop
 */
$breakpoints: (
  mobile: 900px,
  // Change breakpoint to 900px
  desktop: 1200px,
);

$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

$pageWidth: #{map.get($breakpoints, mobile)};
$sidePanelWidth: 300px; /* 310pxから10px減少 */
$topSpacing: 1.5rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

$mobileGrid: (
  templateRows: "auto auto auto auto",
  templateColumns: "1fr",
  // Single column layout
  rowGap: "5px",
  columnGap: "0",
  templateAreas: '"grid-header"\
      "grid-center"\
      "grid-footer"',
);
$tabletGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} 1fr",
  // Two column layout
  rowGap: "5px",
  columnGap: "1rem",
  templateAreas:
    '"grid-sidebar-left grid-header"\
      "grid-sidebar-left grid-center"\
      "grid-sidebar-left grid-footer"',
);
// Text colors
$text-color: #647a83;

$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto #{$sidePanelWidth}",
  rowGap: "5px",
  columnGap: "1rem",
  // 左サイドバーとメインコンテンツの間隔を5pxから1remに変更
  templateAreas:
    '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);
